:root {
  --white: #fff;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--white);
  width: 320px;
  height: 499px;
  padding: 16px 16px 40px;
  border-radius: 20px;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.card-content {
  text-align: center;
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.card h1 {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  color: var(--slate-900);
  margin-bottom: 16px;
  letter-spacing: 0px;
  line-height: 120%;
}

.card p {
  font-size: 15px;
  font-weight: var(--font-weight-normal);
  color: var(--slate-500);
  letter-spacing: 0.2px;
  line-height: 140%;
}
