* {
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  width: 320px;
  height: 499px;
  padding: 16px;
  padding-bottom: 40px;
  border-radius: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card-content {
  text-align: center;
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.card h1 {
  font-size: 22px;
  font-weight: 700;
  color: #1f314f;
  margin-bottom: 16px;
  letter-spacing: 0px;
  line-height: 120%;
} 

.card p {
  font-size: 15px;
  font-weight: 400;
  color: #68778d;
  letter-spacing: .2px;
  line-height: 140%;
}
